{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {

        $('#txtDOB').datetimepicker({
            format: 'Y-m-d',
            timepicker: false,
            mask: true,
        });

        $('#registerForm').validate({
            rules: {
                
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                dob: {
                    required: true
                },

            },
            messages: {
                name: {
                    required: 'Valid full name is required.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },

                dob: {
                    required: 'Valid date of birth is required.',
                },

            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}

<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">Profile</div>
        </div>
        <div class="row" style="justify-content : center">
            <div class="col-12 col-md-6">
                <form class="row" novalidate action="" method="POST" id="registerForm">

                    <div class="col-12 py-3">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control fh5co_contact_text_box" id="txtName" name="name"
                            value="{{authUser.Name}}" />
                    </div>
                    <div class="col-12 py-3">
                        <label for="txtEmail">Email</label>
                        <input type="text" class="form-control fh5co_contact_text_box" id="txtEmail" name="email"
                            value="{{authUser.Email}}" />
                    </div>
                    <div class="col-12 py-3">
                        <label for="txtDOB">Date of birth</label>
                        <input type="text" class="form-control fh5co_contact_text_box" id="txtDOB" name="dob"
                            value="{{authUser.DOB}}" />
                    </div>
                    <div class="col-12 py-3 text-center">
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Update
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>