<form class="adduserform" method="POST" onsubmit="return sendData()">
  <input type="text" placeholder="idUser" />
  <input type="text" name="HoTen" placeholder="HoTen" />
  <input type="text" name="Username" placeholder="Username" />
  <input type="password" name="Password" placeholder="Password" />
  <input type="text" name="DiaChi" placeholder="DiaChi" />
  <input type="text" name="Dienthoai " placeholder="Dienthoai" />
  <input type="text" name="Email" placeholder="Email" />
  <input type="date" name="NgayDangKy" placeholder="NgayDangKy" />
  <input type="date" name="NgaySinh" placeholder="NgaySinh" />
  <input type="text" name="GioiTinh" placeholder="GioiTinh" />
  <input type="text" name="VipPresent" placeholder="VipPresent" />
  <button type="submit" onclick="sendData()">Add</button> 
</form>
<script>
  var function sendData() {
    var form = document.querySelector('form');
    var data = new FormData(form);
    var req = new XMLHttpRequest();
    req.send(data);
  }
  </script>
<body>
  <div class="row">
    <div class="main-wrapper">
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="main-sidebar">
          <aside id="sidebar-wrapper">
            
            
            <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="active"><a class="nav-link" href="index.html"><i class="fas fa-fire"></i>
                  <span>Dashboard</span></a></li>

              <li class="menu-header">AddUser</li>
              <li><a class="nav-link" href="adduser"><i class="far fa-edit"></i> <span>Thêm người dùng</span></a>
              </li>
              <li><a class="nav-link" href="deleteuser"><i class="far fa-edit"></i> <span>Xóa người dùng
                    </span></a></li>
              <li><a class="nav-link" href="edituser"><i class="far fa-edit"></i> <span>Sửa thông tin người dùng
                    </span></a></li>
              <li><a class="nav-link" href="updateadmin"><i class="far fa-edit"></i> <span>Sửa thông tin admin</span></a>
              </li>
            </ul>

          </aside>
        </div>
      </div>