
<body>
  <div class="row">
    <div class="main-wrapper">
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="main-sidebar">
          <aside id="sidebar-wrapper">
            
            
            <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="active"><a class="nav-link" href="index.html"><i class="fas fa-fire"></i>
                  <span>Dashboard</span></a></li>

              <li class="menu-header">AddUser</li>
              <li><a class="nav-link" href="admin/adduser"><i class="far fa-edit"></i> <span>Thêm người dùng</span></a>
              </li>
              <li><a class="nav-link" href="admin/deleteuser"><i class="far fa-edit"></i> <span>Xóa người dùng
                    </span></a></li>
              <li><a class="nav-link" href="admin/edituser"><i class="far fa-edit"></i> <span>Sửa thông tin người dùng
                    </span></a></li>
              <li><a class="nav-link" href="admin/updateadmin"><i class="far fa-edit"></i> <span>Sửa thông tin admin</span></a>
              </li>

            </ul>

          </aside>
        </div>
      </div>