<body class="single">
    <div>
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">{{this.d1.Ten}}</div>
    </div>
    <div id="fh5co-title-box" style="background-image: url(/img/hinh/ttbd2.jpg); background-position: 50% 90.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="page-title">
            <span>January 1, 2019</span>
            <h2>{{this.SingleAr.TieuDe}}</h2>
        </div>
    </div>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <h3>{{this.SingleAr.TomTat}}</h3>
                    <p>
                        Ole Gunnar Solskjaer ngày càng giống hai tiền nhiệm Louis Van Gaal và Jose Mourinho về thành
                        tích cầm quân ở Man
                        Utd. Tất cả đã khởi đầu như mơ, đều được ví von với HLV huyền thoại Alex Ferguson, trước khi ca
                        bài "đầu voi đuôi
                        chuột". Sự khác biệt giữa họ, có chăng, là vấn đề thời gian. Van Gaal trở lại mặt đất ngay sau
                        chuyến du đấu mùa hè
                        tại Mỹ, khi thua Swansea 1-2 ngay trận mở màn mùa giải mới. Mourinho khá hơn, thắng ba trận đầu
                        mùa, trước khi bước
                        vào khủng hoảng bởi thất bại 1-2 trước Man City. Solskjaer là người thành công nhất, nhưng tuần
                        trăng mật của HLV
                        người Na Uy cũng không dài đủ ba tháng.
                    </p>
                    <p>
                        Trong bức tranh nhiều màu ảm đạm ở Old Trafford, thành tích đối đầu top 6 là thứ duy nhất mà Man
                        Utd có thể duy trì.
                        Trong 10 trận gần nhất gặp Arsenal, "Quỷ Đỏ" thắng bốn, hòa ba, và thua ba. Thống kê tương tự
                        trước Chelsea,
                        Liverpool và Tottenham lần lượt là (4,3,3); (3,5,2) và (6,0,4). Ngay cả Man City, đội vô địch
                        nước Anh hai trong năm
                        mùa gần nhất, thành tích đối đầu của Man Utd vẫn cân bằng, là thắng bốn, hòa hai, thua bốn. Man
                        City có phong độ cao
                        hơn, có nhiều cầu thủ giỏi hơn, nhưng điều ấy không đồng nghĩa với việc họ sẽ dễ dàng đút túi ba
                        điểm.
                    </p>
                    <p>
                        Trước thềm trận derby, Kyle Walker nói: "CĐV Man Utd thích Man City vô địch Ngoại hạng Anh hơn
                        Liverpool", nhưng anh
                        cũng không quên, rằng "đối thủ sẽ không trải thảm đỏ mời Man City ghi bàn". Phát biểu của hậu vệ
                        người Anh gợi nhớ tới
                        trận lượt về mùa trước. Man City sẽ vô địch nếu hạ Man Utd trên sân nhà, nhưng rốt cuộc bị thua
                        ngược 2-3, dù sớm dẫn
                        hai bàn trong hiệp một.
                    </p>
                    <p>
                        Pep Guardiola, người sẽ có lần đấu trí đầu tiên với Solskjaer, tỏ ra thận trọng trước chuyến
                        viếng thăm Old Trafford.
                        Ông nói: "Tôi chờ đợi một Man Utd hay nhất. Đây là một trận derby và mỗi lần chúng tôi đá với
                        Man Utd, đó đều là một
                        trận đấu đặc biệt". Sự mực thước của cựu HLV Barca không thừa bởi Ngoại hạng Anh giờ là chiếc
                        phao cứu sinh duy nhất cho
                        đội của ông, sau khi bị Tottenham loại khỏi Champions League. Man City hiện kém Liverpool hai
                        điểm và buộc phải thắng
                        "Quỷ Đỏ" để đòi lại ngôi đầu. Nếu không bảo vệ thành công danh hiệu này, mùa giải 2018-2019 sẽ
                        là thất bại với chủ sân
                        Etihad, ngay cả khi họ có đoạt thêm Cup FA vào tháng Năm.
                    </p>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="fh5co_tags_all">
                        <a href="#" class="fh5co_tagg">Business</a>
                        <a href="#" class="fh5co_tagg">Technology</a>
                        <a href="#" class="fh5co_tagg">Sport</a>
                        <a href="#" class="fh5co_tagg">Art</a>
                        <a href="#" class="fh5co_tagg">Lifestyle</a>
                        <a href="#" class="fh5co_tagg">Three</a>
                        <a href="#" class="fh5co_tagg">Photography</a>
                        <a href="#" class="fh5co_tagg">Lifestyle</a>
                        <a href="#" class="fh5co_tagg">Art</a>
                        <a href="#" class="fh5co_tagg">Education</a>
                        <a href="#" class="fh5co_tagg">Social</a>
                        <a href="#" class="fh5co_tagg">Three</a>
                    </div>
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="/img/hinh/ttbd2.jpg" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"><a href="single_detail.html">Man Utd - Man City: Định
                                    đoạt hai cuộc đua.</a>
                            </div>
                            <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="/img/hinh/skmt0.jpg" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"> <a href="single_detail.html">Vợ con đồng nghiệp tiễn
                                    biệt nghệ sĩ Lê Bình.</a>
                            </div>
                            <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="hinh/bd5.png" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"><a href="single_detail.html">Newcastle - Liverpool:
                                    Gượng dậy sau thảm bại.</a>
                            </div>
                            <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center"><img src="/img/hinh/phim3.jpg" alt="img"
                                class="fh5co_most_trading" /></div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"><a href="single_detail.html">Những vai diễn ghi
                                    dấu ấn Lê Bình trên màn ảnh.</a>
                            </div>
                            <div class="most_fh5co_treding_font_123"> April 18, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">
                {{#each this.TopNewArticle}}
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="/img/hinh/bd2.jpg" alt="" /></div>
                        <div>
                            <a href="#" class="d-block fh5co_small_post_heading"><span class="">{{TieuDe}}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2019</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- ccc -->
        </div>
    </div>

    <div class="container-fluid pb-4 pt-5">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Bình luận</div>
        </div>
        <div class="col-12 col-md-6">
            <form class="row" id="fh5co_contact_form">

                <div class="col-12 py-3">
                    <textarea class="form-control fh5co_contacts_message" placeholder="Ý kiến của bạn"></textarea>
                </div>
                <div class="col-12 py-3"> <a href="#" class="btn contact_btn">Gửi</a> </div>
            </form>
        </div>
    </div>
</body>