<div class="alert alert-danger">
    <button value="ĐÃ XÓA THÀNH CÔNG" type="button" class="close" data-dismiss="alert" aria-hidden="true">ĐÃ XÓA THÀNH CÔNG</button>
    <strong>ĐÃ XÓA THÀNH CÔNG</strong> {{errorMsg}}
</div>