
       <form class="edituserform" method="POST" onsubmit="return sendData()">

        <div class="form-row">
          <div class="form-group col-md-4">
            
            
            <label for="colFormLabelLg" style="font-size:16px">Họ Tên</label>
           
            <input type="text"  class="form-control" id="Name"  name="Name" value="baoloc">
          </div>
        </div>

        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="colFormLabelLg" style="font-size:16px">Username</label>
            <input type="text" class="form-control" id="Username" value="abc" name="Username">
          </div>
        </div>
          
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="colFormLabelLg" style="font-size:16px">Password</label>
            <input type="password" class="form-control" id="Password" value="123" name="Password">
          </div>
        </div>
        
          

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="colFormLabelLg" style="font-size:16px">Email</label>
            <input type="text" class="form-control" id="Email" value="1512300@gmail.com" name="Email">
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="colFormLabelLg" style="font-size:16px">Permission </label>
            <input type="text" class="form-control"  id="Permission "  name="Permission ">
          </div>
        </div>

        
          
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="colFormLabelLg" style="font-size:16px">Ngày sinh</label>
            <input type="date" class="form-control datemask" id="DOB" value="1997-09-25" name="DOB">
          </div>
        </div>

          
          

        <div class="form-row">
          <div class="form-group col-md-4">
          <label for="colFormLabelLg" style="font-size:16px">Ảnh đại diện</label>
          <div class="col-sm-12 col-md-7">
            <div id="image-preview" class="image-preview">
              <label for="image-upload" id="image-label">Chọn tệp</label>
              <input type="file" name="image" id="image-upload" />
            </div>
          </div>
          </div>
        </div>
        

          
         

        
            <a href="/admin/user-manage" class="btn btn-success">TRỞ VỀ</a>
            <button  class="btn btn-primary"  type="submit" onclick="sendData()">LƯU</button>
             <a href="/admin/deleteuser" class="btn btn-danger"  >XÓA</a>
          </div>
      </form>
    

<script>
  function sendData() {
    var form = document.querySelector('form');
    var data = new FormData(form);
    console.log(data);
    var req = new XMLHttpRequest();
    req.send(data);
  }
  </script> 
